div.bodyContainer {
    width: 100%;
    background-color: #ffffff;
    height: 100vh;
    overflow-y: scroll; /* Asegura el desplazamiento vertical */
    scrollbar-width: thin; /* Establece el grosor de la barra lateral */
}

nav.navCarrito {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    div.div-carrito {
        display: flex;
        justify-content: flex-end;
        span.contadorCarrito {
            padding: 0.2rem;
            font-weight: bold;
        }
        .carrito {
            font-size: 2rem;
        }
        button.button-carrito {
            &:active {
                box-shadow: none;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}

div.cartTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4.textTotal {
        font-weight: bold;
        font-size: 1.5rem;
    }
    h5.total {
        font-style: italic;
        font-size: 1.5rem;
    }
}



.cta {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 11px 33px;
    margin: 4rem auto 4rem auto;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #787aff;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #52fb38;
  }
  
  .cta .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg)
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #48fb38;
    }
  
    100% {
      fill: white;
    }
  }


.group {
    display: flex;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    position: relative;
    .input {
        width: 100%;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: .3s ease;
        &::placeholder {
            font-size: 1.5rem;
            display: flex;
            text-align: center;
            color: #9e9ea7;
        }
        &:focus, &:hover {
            outline: none;
            border-color: rgba(201, 201, 201, 0.4);
            background-color: #fff;
            box-shadow: 0 0 0 2px rgba(105, 105, 105, 0.1);
        }
    }
    .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }
}

// Item

div.productItem {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 0rem;
    div.productItemOne {
        display: flex;
        width: 100%;
        img.imgItem {
            max-width: 25rem;
            max-height: 25rem;
            margin: auto;
            border-radius: 1rem;
            overflow: hidden;
        }
    }
    div.productItemTwo {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        p.productName {
            font-size: 2rem;
            font-weight: lighter;
        }
        p.productPrice {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    div.productItemThree {
        display: flex;
        width: 100%;
        justify-content: center;
        button.verDetalle {
            font-size: 1.2rem;
            padding: 1.5rem;
            border: none;
            background-color: black;
            color: white;
            border-radius: 0.7rem;
            &:hover {
                transform:scale(1.03);
                transition: calc(1s);
            }
        }
    }
}


h1.h1Pages {
    color: rgba(99, 96, 255, 0.793);
    font-size: 3.5rem;
    padding: 5rem 0rem;
    text-align: center;
}


hr.hr {
    margin: 1rem 25rem;
}




// ItemDetail

div.detailContainer {
    display: flex;
    justify-content: center;
    margin: 8rem 4rem;
    div.detailContainerOne {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        img.detailImg {
            height: 30rem;
        }
    }
    div.detailContainerTwo {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        h3.detailName {
            font-size: 3rem;
            text-align: center;
            padding: 0rem 6rem 6rem 6rem;

        }
        p.detailPrice {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0rem 0rem 4rem 0rem;
        }
        p.detailStock {
            padding: 0rem 0rem 1rem 0rem;
            em {
                font-size: 1.4rem;
            }
        }
    }
}

h4.titleDescription {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 5rem;
}

p.detailDescription {
    color: rgba(0, 0, 0, 0.67);
    font-size: 1.5rem;
    margin: 0rem 5rem;
    line-height: 5rem;
}



// Inicio


img.banner {
    width: 100%;
    height: 50rem;
}


div.formaDePago {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 7rem 0rem;
    div.credito {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    div.debito {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    div.cuotas {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    div.efectivo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

hr.hrInicio {
    margin: 0rem 20rem;
}


h3.productosDestacados {
    margin: 7rem 0rem 0rem 10rem;
    font-size: 2rem;
}



.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0rem;
    .productosInicio {
        display: flex;
        flex-direction: column;
        width: 25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        justify-content: start;
        align-items: center;
        &:hover {
            transform: scale(1.01);
            transition: calc(1s);
        }
        .imgProductosInicio {
            max-width: 100%;
            height: 25rem;
            padding: 0rem 0rem 3rem 0rem;
        }
        .precioProductosInicio {
            width: 100%;
            font-size: 1.4rem;
            padding: 0rem 0rem 1rem 1rem;
        }
        .h5ProductosInicio {
            width: 100%;
            font-size: 1.4rem;
            font-weight: lighter;
            padding: 0rem 0rem 1rem 1rem;
        }
    }
}

div.appWeb {
    display: flex;
    margin: 5rem 0rem;
    justify-content: center;
    align-items: center;
    div.proximamente {
        width: 100%;
        p.proximamente {
            font-weight: bold;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 15rem;
        }
        p.store {
            font-weight: bold;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 15rem;
        }
        div.store {
            display: flex;
            justify-content: center;
            img.store {
                width: 50rem;
                padding-left: 15rem;
            }
        }
    }
    div.computadora {
        width: 100%;
        img.computadora {
            padding-right: 15rem;
            display: flex;
            width: 60rem;
            margin: auto;
        }
    }
}



// Footer


footer.footer {
    background-color: #f1f1f1;
    padding: 1.6rem;
    text-align: center;
    div.div-footer {
        margin: 0 auto;
        p.p-footer {
            color: #000000c0;
            font-size: 1.4rem;
        }
    }
}



// Loading


/* Estilos generales */
.fun-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .circle-container {
        display: flex;

    }

}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

  
.circle1 {
    background-color: rgb(0, 0, 0);
    animation: bounceRotate 1.5s infinite;
}

.circle2 {
    background-color: rgb(0, 0, 0);
    animation: bounceRotate 1.5s infinite reverse;
}

.circle3 {
    background-color: rgb(0, 0, 0);
    animation: bounceRotate 1.5s infinite;
} 




// Carrito


div.prodCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;
    div.imgCarrito {
        width: 100%;
        display: flex;
        justify-content: center;
        img.imgCarrito {
            max-width: 10rem;
            max-height: 10rem;
            border-radius: 1rem;
        }

    }
    div.namePrice {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        h3.prodCarrito {
            font-size: 1rem;
            font-weight: normal;
            margin: 0;
        }
        p.prodCarrito {
            font-size: 1rem;
            margin: 0;
        }
    }
    div.buttonCarrito {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}



// ItemCount


button.reduce {
    margin-right: 1rem;
    background-color:#787aff;
    border: none;
    &:hover {
        background-color: #ff0000c7;
    }
}

button.add {
    margin-left: 1rem;
    background-color:#787aff;
    border: none;
    &:hover {
        background-color: #48fb38af;
    }
}

button.comprar {
    margin-top: 0.5rem;
    background-color:#787aff;
    border: none;
    &:hover {
        background-color: #48fb38af;
    }
}