div#layout {
    display: flex;
}


div#divnavbar {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 100vh;
    width: 22%;
    padding: 0rem;
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
    img.logo {
        display: flex;
        margin: auto;
        margin-top: 4rem;
        justify-content: center;
        width: 15rem;
    }
    nav.nav-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1; /* Hace que el <nav> ocupe todo el espacio disponible verticalmente */
        ul.navbar {
            display: flex;
            align-items: flex-start;
            gap: 5rem;
            flex-direction: column;
            padding: 0px;
            list-style: none;
            overflow-y: auto; /* Añade una barra de desplazamiento si los <li> no caben */
            a {
                text-decoration: none;
                li.navbar {
                    color: black;
                    display: flex;
                    font-family: Helvetica;
                    font-size: 1.5rem;
                    width: 100%;
                    text-decoration: none;
                    &:hover {
                        color: rgba(99, 96, 255, 0.793);
                        border-bottom: solid 0.1rem rgba(99, 96, 255, 0.793);
                    }
            }
            }
        }
    }
}