*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-size: 10px;
}

// Keyframes

@keyframes bounceRotate {
  0%, 100% {
      transform: translateY(-20px) rotate(0deg);
  }
  50% {
      transform: translateY(0) rotate(180deg);
  }
}


@import "navbar";
@import "body";
@import "terms";
@import "datosusuario";
@import "finalizarcompra";
@import "cart";
@import "inicio";
@import "iniciosesion";
@import "signup";
